:root {
    /* てんとう虫 */
    --ladybug-line: #020126;
    --ladybug-circle: #bf3030;

    /* 各ページ共通 */
    /* body背景 */
    --body-base-lt: #f4f3ed;
    --body-base-dk: #efecd5;
    /* body影 */
    --body-shadow: #dbd4b7;
    /* フォント */
    --main-font: #464480;
    /*コンテンツ背景*/
    --contents-back: #f7f6f3;

    /* グラデーション用 */
    /* ベーシック */
    --gra-basic: #cbc98c;
    --gra-basic-lt: #f2f1ca;
    --gra-basic-base: #d9d3b8;
    --gra-basic-base-lt: #fffef0;

    /* ブルー */
    --gra-blue: #101080;
    --gra-blue-lt: #34d5d5;
    --gra-blue-base: #dbe9ed;
    --gra-blue-base-lt: #edf3f5;

    /* イエロー */
    --gra-yellow: #ff6825;
    --gra-yellow-lt: #ffe53b;
    --gra-yellow-base: #ede9c9;
    --gra-yellow-base-lt: #ffffea;

    /* ピンク */
    --gra-pink: #e5259b;
    --gra-pink-lt: #ffb24a;
    --gra-pink-base: #f5d3d3;
    --gra-pink-base-lt: #fff2fb;

    /* パープル */
    --gra-purple: #771cc6;
    --gra-purple-lt: #e66cdd;
    --gra-purple-base: #d2c3e6;
    --gra-purple-base-lt: #f4eff7;

    /* グリーン */
    --gra-green: #0f764e;
    --gra-green-lt: #f0ef67;
    --gra-green-base: #d3efd5;
    --gra-green-base-lt: #f7f6de;

}

/* ベーシック */
.basic .note_title > p {
    color: #7e7e7e;
    opacity: 0.7;
}

.basic .to_top {
    background: linear-gradient(-45deg,  #020126, #8595ee);
}

.basic .note_title,
.basic .back_cover,
.basic.chapter,
.basic .submit,
.basic .back  {
    background: linear-gradient(-45deg,  var(--gra-basic), var(--gra-basic-lt));
}

.basic .note_base {
    background: linear-gradient(-45deg, var(--gra-basic-base), var(--gra-basic-base-lt));
}

header.basic button {
    color: var(--main-font);
}


/* ブルー */
.blue .to_top,
.blue .note_title,
.blue .back_cover,
.blue.chapter,
.blue.submit,
.blue .back {
    background: linear-gradient(-45deg,  var(--gra-blue), var(--gra-blue-lt));
}

.blue .note_base {
    background: linear-gradient(-45deg, var(--gra-blue-base), var(--gra-blue-base-lt));
}

.blue .wrapback{
    background: linear-gradient(to right bottom, var(--gra-blue), var(--gra-blue-lt));
}

header.blue button {
    color: var(--gra-blue);
}

/* イエロー */
.yellow .to_top,
.yellow .note_title,
.yellow .back_cover,
.yellow.chapter,
.yellow.submit,
.yellow .back {
    background: linear-gradient(-45deg,  var(--gra-yellow), var(--gra-yellow-lt));
}

.yellow .note_base {
    background: linear-gradient(-45deg, var(--gra-yellow-base), var(--gra-yellow-base-lt));
}

.yellow .wrapback{
    background: linear-gradient(to right bottom, var(--gra-yellow), var(--gra-yellow-lt));
}

header.yellow button {
    color: var(--gra-yellow);
}


/* ピンク */
.pink .to_top,
.pink .note_title,
.pink .back_cover,
.pink.chapter,
.pink.submit,
.pink .back  {
    background: linear-gradient(-45deg,  var(--gra-pink), var(--gra-pink-lt));
}

.pink .note_base {
    background: linear-gradient(-45deg, var(--gra-pink-base), var(--gra-pink-base-lt));
}

.pink .wrapback{
    background: linear-gradient(to right bottom, var(--gra-pink), var(--gra-pink-lt));
}

header.pink button {
    color: var(--gra-pink);
}

/* グリーン */
.green .to_top,
.green .note_title,
.green .back_cover,
.green.chapter,
.green.submit,
.green .back   {
    background: linear-gradient(-45deg,  var(--gra-green), var(--gra-green-lt));
}

.green .note_base {
    background: linear-gradient(-45deg, var(--gra-green-base), var(--gra-green-base-lt));
}

.green .wrapback{
    background: linear-gradient(to right bottom, var(--gra-green), var(--gra-green-lt));
}

header.green button {
    color: var(--gra-green);
}

/* パープル */
.purple .to_top,
.purple .note_title,
.purple .back_cover,
.purple.chapter,
.purple.submit,
.purple .back {
    background: linear-gradient(-45deg,  var(--gra-purple), var(--gra-purple-lt));
}

.purple .note_base {
    background: linear-gradient(-45deg, var(--gra-purple-base), var(--gra-purple-base-lt));
}

.purple .wrapback{
    background: linear-gradient(to right bottom, var(--gra-purple), var(--gra-purple-lt));
}

header.purple button {
    color: var(--gra-purple);
}

