body {
    background: linear-gradient(-45deg, var(--body-base-lt), var(--body-base-dk));
}

body * { 
    color: var(--main-font);
}

.container {
    overflow-x: hidden;
    overflow-y: visible;
    width: 80%;
    height: 100%;
    background-color: var(--body-base-lt);
    text-align: center;
}

li {
    list-style: none;
}

button {
    background: transparent;
    outline: none;
    border: none;
}

p,
.balloon > .msg {
    overflow-wrap: break-word;
    overflow: scroll;
    font-family: iroha-26tubaki-stdn, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: -0.5px;
}

a {
    text-decoration: none;
}

input[type="text"],
textarea {
    border: none;
    outline: none;
}

.logo_mark,
.logo_type { fill: var(--ladybug-line);}
#ladybug-circle { fill: var(--ladybug-circle);}


/* テントウのメッセージ */
.ladybug {
    display: flex;
    flex-direction: column;
}

.ladybug img {
    margin: auto auto 0 0;
}

.balloon {
    position: relative;
    margin: auto 0 46px auto;
}

.balloon .msg, 
.balloon .tail {
    background: #cee6ef;
}

.balloon .msg {
    text-align: center;
    border-radius: 50px;
}

.balloon .tail {
    width: 32px;
    height: 8px;
    transform: matrix(1.5, -0.5, -0.5, 1.8, 0, 0);
}

/* ノート */
.note {
    position: relative;
    width: 140px;
    height: 161px;
}
.note::after,
.note > div{
    position: absolute;
}

.note > .note_base {
    top: 0;
    left: 0;
    width: 140px;
    height: 161px;
    border-radius: 0px 3px 3px 0px;
    box-shadow: 5px 5px 7px var(--body-shadow);
}

.note > .back_cover {
    top: 0;
    left: 0;
    content: '';
    width: 16px;
    height: 161px;
    border-radius: 3px 0px 0px 3px;
    box-shadow: 1px 1px 3px var(--body-shadow);
}
.note > .note_title {
    display: flex;
    align-items: center;
    overflow: scroll;
    top: 25px;
    left: 30px;
    width: 95px;
    height: 60px;
    border-radius: 3px;
}
.note_title {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.note_title::-webkit-scrollbar {
    display: none;
}
.note p {
    width: 95px;
    margin: 0;
    line-height: 15px;
    color: #fff;
    opacity: 0.7;
}


/* チャプター */
.chapter { 
    position: relative;
    width: 200px;
    height: 45px;
    border-radius: 5px 23px 5px 23px;
    box-shadow: 5px 5px 7px var(--body-shadow);
}
.chapter p,
.chapter input[name="new_chapter_title"] {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin :auto;
    width: 170px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background: linear-gradient(-11deg, #E8D8B7 0%, #F7F6F3 60%);
}

/* ページ */
.page {
    position: relative;
    width: 218px;
    height: 90px;
    border-radius: 8px;
    background: var(--body-base-dk);
    box-shadow: 5px 5px 7px var(--body-shadow);
}

.wrapback,
.wrapback::before,
.wrapback::after,
.page > p {
    position: absolute;
}

.wrapback {
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 0 0 0 8px;
    box-shadow: 5px 5px 7px var(--body-shadow);
}

.wrapback::before { 
    content: '';
    top: -5px;
    right: -15px;
    border-style: solid;
    border-width: 30px;
    border-color: var(--body-base-lt) var(--body-base-lt) transparent transparent;
}

.wrapback::after { 
    content: '';
    top: -5px;
    right: 16px;
    width: 10px;
    height: 63px;
    transform: rotate(-45deg);
    box-shadow: 5px 0px 7px var(--body-shadow);
}

.page > p {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: start;
}

/* 戻るボタン・送信ボタン */
.back, .submit {
    width: 100px;
    height: 30px;
    margin: 50px auto;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 5px 5px 7px var(--body-shadow);
}

.back {
    display: block;
}
