.catch_logo {
    position: relative;
    width: 480px;
    height: 200px;
    margin: 70px auto 38px auto;
}

.p_bold {
    font-size: 18px;
    font-weight: bold !important;
}

.catch_logo > .logo_mark,
.catch_logo > .logo_type {
    position: absolute;
    bottom: 0;
}

.catch_logo > .logo_mark {
    left: 0;
    width: 200px;
}

.catch_logo > .logo_type {
    left: 181px;
    width: 298px;
}


.sign_nav,
.note_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}