/* トップ部分 */
.catch_logo {
    position: relative;
    width: 410px;
    height: 170px;
    margin: 70px auto 25px auto;
}

.p_bold {
    font-size: 18px;
    font-weight: bold !important;
}

.catch_logo > .logo_mark,
.catch_logo > .logo_type {
    position: absolute;
    bottom: 0;
}

.catch_logo > .logo_mark {
    left: 0;
    width: 180px;
}

.catch_logo > .logo_type {
    left: 160px;
    width: 250px;
}


.sign_nav,
.note_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


.sign_nav {
    margin-bottom: 36px;
    width: 500px;
    height: 150px;
}

.sign_nav > div {
    position: relative;
    width: 196px;
    height: 90%;
}

.sign_nav > div img,
.sign_nav > div p {
    position: absolute;
}

.sign_nav > div img {
    bottom: 0;
    left: 0;
    width: 100px;
}

.sign_nav > div p,
.sign_nav > div p::before{
    top: 0;
    right: 0;
    line-height: 60px;
    width: 120px;
    height: 60px;
    border-radius: 100px;
    background: #ccc;
}

.sign_nav > div p::before {
    position: absolute;
    z-index: 1;
    content: 'ようこそ♪';
    width: 120px;
    height: 60px;
    border-radius: 100px;
}  

.sign_nav > div p::after {
    position: absolute;
    bottom: 0;
    left: 20px;
    content: '';
    width: 40px;
    height: 40px;
    transform: matrix(1, -0.5, -0.4, 1, 0, 0);  
}  

.sign_nav > div p,
.sign_nav > div p::before,
.sign_nav > div p::after {
    background: transparent linear-gradient(180deg, #EDF3F5 0%, #DBE9ED 100%) 0% 0%;
}

.sign_nav > div p,
.sign_nav > div p::after  {
    box-shadow: 5px 5px 7px var(--body-shadow);
}

.sign_in,
.sign_up {
    position: relative;
    width: 100px;
    height: 110px;
    background-color: transparent;
}

.sign_in *,
.sign_up *,
.sign_in::after,
.sign_up::after  {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.sign_in > .triangle_base,
.sign_up > .triangle_base {
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: #ccc;  
}

.sign_in > .triangle,
.sign_up > .triangle { 
    width: 25px;
    fill: var(--gra-blue);  
}

.sign_in > .triangle {
    left: 8px;
}
.sign_up > .triangle {
    right: 8px;
}

.sign_in > svg {
    transform: rotate(180deg);
}

.sign_in::after,
.sign_up::after {
    width: 60px;
    line-height: 110px;
}

.sign_in::after{
    content: 'sign in';
    right: 6px;
}

.sign_up::after {
    content: 'sign up';
    left: 6px;
}


.note_nav {
    width: 80%;
}

.note > p {
    font-size: 20px;
    font-weight: bold;
}

/* 各セクション共通 */
section { 
    padding-bottom: 64px;
}

section > img {
    display: flex;
    width: 200px;
    margin-bottom: 50px;
}

/* news部分 */
.news > ul {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.news_icon {
    position: relative;
    margin-bottom: 16px;
    padding: 8px;
    width: 320px;
    height: 144px;
    background-color: #ccc;
    border-radius: 5px;
}

.news_icon > h1,
.news_icon > p {
    width: 98%;
    margin: auto;
}

.news_icon > h1 {
    text-align: start;
    line-height: 36px;
}

.news_icon > p {
    text-align: end;
    line-height: 26px;
}

.news_icon::before, 
.news_icon::after {
    position: absolute;
    content: '';
    border-style: solid
}

.news_icon::before {
    top: -5px;
    right: -5px;
    border-width: 35px;
    border-color: var(--body-base-lt) var(--body-base-lt) transparent transparent;
}

.news_icon::after {
    top: 0;
    right: 0;
    border-width: 40px;

}