header {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 80%;
}

header > nav {
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

header button {
    display: none;
    margin: 0.3rem 0;
    padding: 8px 10px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 7px var(--body-shadow);
}


