.container { 
    background: transparent !important;
}

.titles {
    margin-top: 88px;
    width: 600px;
    height: 160px;
}

.titles.edit_page{
    margin: 50px 0 -240px 0;
}

.titles,
.page_menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.note {
    margin-bottom: 0;
}

.chapter {
    margin: 0 30px -30px -22px;
}

.page_menu {
    margin: -92px auto -206px auto;
    justify-content: space-between !important;
    width: 111px;
}

.page_menu > form button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #ccc;
    box-shadow:5px 5px 7px var(--body-shadow); 
}

.edit_btn > svg,
.delete_btn > svg {
    width: 32px;
}

.page_base {
    position: relative;
    margin: 214px auto 30px auto;
    padding: 32px;
    width: 100%;
    border-radius: 10px;
    background: var(--body-base-lt);
    box-shadow: 5px 5px 7px var(--body-shadow);
    text-align: start;
}
.wrapback {
    width: 70px;
    height: 70px;
}
.wrapback::before {
    border-color: #f3f1e7 #f3f1e7 transparent transparent;
    border-width: 45px;
}
.wrapback::after {
    top: -10px;
    right: 30px;
    height: 108px;
    box-shadow: 10px 0px 7px var(--body-shadow);
}

.page_base.blue > .syn_memo,
.page_base.blue > .example > .ex,
.page_base.blue > .memo {
    background: var(--gra-blue-base);
}
.page_base.yellow > .syn_memo,
.page_base.yellow > .example > .ex,
.page_base.yellow > .memo {
    background: var(--gra-yellow-base);
}
.page_base.pink > .syn_memo,
.page_base.pink > .example > .ex,
.page_base.pink > .memo {
    background: var(--gra-pink-base);
}
.page_base.green > .syn_memo,
.page_base.green > .example > .ex,
.page_base.green > .memo {
    background: var(--gra-green-base);
}
.page_base.purple > .syn_memo,
.page_base.purple > .example > .ex,
.page_base.purple > .memo {
    background: var(--gra-purple-base);
}


.page_base > img { 
    width: 100%;
}

.page_base textarea {
    resize: none;
}

.page_title,
.meaning,
.syntax {
    text-align: start !important;
}

.page_title {
    font-size: 40px;
    font-weight: bolder;
    line-height: 42px;
}

.meaning { 
    font-size: 30px;
    line-height: 32px;
}

.syntax {
    margin-top: 16px;
    font-size: 24px;
}

.syn_memo {
    padding: 3px 5px;
    width: 100%;
    border-radius: 8px;
}

.example {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;    
    width: 100%;
}

.ex, .ex_memo {
    padding: 3px 5px;
    text-align: start;
    width: 50%;
}

.ex {
    border-radius: 8px 0 0 8px;
}
.ex_memo {
    border-radius: 0 8px 8px 0;
    background: transparent !important;
}

.memo {
    margin-top: 30px;
    padding: 3px 5px;
    width: 100%;
    border-radius: 8px;
}

.text {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
} 

.form_block > img { 
    width: 100%;
}

input[type="text"] {
    width: 100%;
    overflow: scroll;
    background: transparent;
    text-align: start !important;
}
.buttons.row {
    margin: auto;
    justify-content: center;
}
.buttons.row * {
    margin: 0;
}

.page_base.b .buttons {
    margin: auto;
    justify-content: start;
}

.page_base.b .btn {
    margin: auto 5px;
    border: solid 2.5px;
    border-radius: 9px;
    opacity: 0.7;
}

/* edit_page */
.edit,
.delete {
    margin: auto auto .5rem auto
}
