.container { 
    background: transparent !important;
}

.titles {
    margin-top: 32px;
    width: 600px;
    height: 160px;
}

.titles,
.page_menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.note {
    margin-bottom: 0;
}

.chapter,
.page_menu {
    margin-bottom: -30px;
}

.chapter {
    margin-right: 30px;
    margin-left: -22px;
}

.page_menu {
    justify-content: space-between !important;
    width: 111px;
}

.page_menu > form button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #ccc;
    box-shadow:5px 5px 7px var(--body-shadow); 
}

.edit_btn > svg,
.delete_btn > svg {
    width: 32px;
}

.page_a {
    position: absolute;
    top: 165px;
    left: 0;
    right: 0; 
    margin: auto;
    padding: 32px;
    width: 750px;
    border-radius: 10px;
    background: rgb(216, 128, 128);
    box-shadow: 5px 5px 7px var(--body-shadow);
    text-align: start;
}
.syntax,
.syn_memo,
.example > div,
.memo {
    overflow: scroll;
}

.page_title {
    font-size: 40px;
    font-weight: bolder;
    line-height: 42px;
}

.meaning { 
    font-size: 30px;
    line-height: 32px;
}

.syntax {
    margin-top: 16px;
    font-size: 24px;
}

.syn_memo {
    padding: 3px 5px;
    width: 100%;
    background: #acacac;
    border-radius: 8px;
}

.example {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;    
    width: 100%;
}

.ex, .ex_memo {
    padding: 3px 5px;
    text-align: start;
    background: #acacac;
    width: 50%;
}

.ex {
    border-radius: 8px 0 0 8px;
}
.ex_memo {
    border-radius: 0 8px 8px 0 ;
}

.memo {
    margin-top: 30px;
    padding: 3px 5px;
    width: 100%;
    background: #acacac;
    border-radius: 8px;
}
